/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}



/* Variables */
:root {
    --desktop-font-size: 1.3rem/1.5;
    --mobile-font-size: 1.1rem/1.4;
    --text-color: #2d2d2d;
    --link-color: blue;
    --primary-color: lightsteelblue;
    --secondary-color: aliceblue;
    --tertiary-color: whitesmoke;
}




/* Typography */
body {
    color: var(--text-color);
    font: var(--desktop-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
    padding: 30px;
}

h1,h2,h3,h4,h5,h6,p,blockquote,dl,img,figure {
    margin: 2rem 0;
}

h1,h2,h3,h4,h5,h6 { font-weight: bold; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4,h5,h6 { font-size: 100%; }
h5, h6 { text-transform: uppercase; }

header h1 { border-bottom: 1px solid; }

p { margin: 2rem 0; }

a,a:visited { color: var(--link-color); }

strong, time, b { font-weight: bold; }
em, dfn, i { font-style: italic; }
sub { font-size: 60%; vertical-align: bottom; }
small { font-size: 80%; }

blockquote, q {
    background: var(--secondary-color);
    border-left: 10px solid var(--primary-color);
    font-family: "Georgia", serif;
    padding: 1rem;
}
blockquote p:first-child { margin-top: 0; }
cite {
    font-family: "Georgia", serif;
    font-style: italic;
    font-weight: bold;
}

kbd,code,samp,pre,var { font-family: monospace; font-weight: bold; }
code, pre {
    background: var(--tertiary-color);
    padding: 0.5rem 1rem;
}
code pre , pre code { padding: 0; }



/* Elements */
hr {
    background: var(--text-color);
    border: 0;
    height: 1px;
    margin: 4rem 0;
}

img { max-width: 100%; }

figure {
    border: 1px solid var(--primary-color);
    display: inline-block;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
figure img { margin: 0; }
figure figcaption { font-size: 80%; }

ul, ol { margin: 2rem 0; padding: 0 0 0 4rem; }

dl dd { padding-left: 2rem; }

table {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table caption { margin: 2rem 0; }
table thead { text-align: center; }
table tbody { text-align: right; }
table tr { border-bottom: 1px solid var(--primary-color); }
table tbody tr:nth-child(even) { background: var(--tertiary-color); }
table th { background: var(--secondary-color); font-weight: bold; }
table th, table td { padding: 1rem; }
table th:not(last-of-type), table td:not(last-of-type) { border-right: 1px solid var(--primary-color); }

input { border: 1px solid var(--text-color); padding: 0.8rem; }
input:focus, input:active { background-color: var(--secondary-color); border-color: var(--link-color); }

header, footer, main {
    max-width: 720px;
    margin: 0 auto;
}

header nav, footer nav {
    display: flex;
    justify-content: space-between;
}

.l-img-100 {
    width: 100% !important;
}

.l-img-95 {
    width: 95% !important;
}

.l-img-90 {
    width: 90% !important;
}

.l-img-85 {
    width: 85% !important;
}

.l-img-80 {
    width: 80% !important;
}

.l-img-75 {
    width: 75% !important;
}

.l-img-70 {
    width: 70% !important;
}

.l-img-65 {
    width: 65% !important;
}

.l-img-60 {
    width: 60% !important;
}

.l-img-55 {
    width: 55% !important;
}

.l-img-50 {
    width: 50% !important;
}

.l-img-45 {
    width: 45% !important;
}

.l-img-40 {
    width: 40% !important;
}

.l-img-35 {
    width: 35% !important;
}

.l-img-30 {
    width: 30% !important;
}

.l-img-25 {
    width: 25% !important;
}

.l-img-20 {
    width: 20% !important;
}

.l-img-15 {
    width: 15% !important;
}

.l-img-10 {
    width: 10% !important;
}

.l-img-5 {
    width: 5% !important;
}

img[style*="width: 85%"] {
    width: 85% !important;
}


/* Mobile Styling */
@media screen and (max-width: 50rem) {
    body {
        font: var(--mobile-font-size) -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol"
    }
    table { table-layout: auto; }
}
